 <div class="landingPageHeader">
            <button class="btnRegister" [routerLink]="['./register']">Register</button>
            <button class="btnLogin" [routerLink]="['./login']" >Login</button>
        </div>
<div class="landingPageContent">
    <div class="landingPageImage">
        <img class="landingPageHeroImage" src="./../assets/pic/landingPageHeroImage.svg">
    </div>
    <div class="landingPageTextButtons">
        <div class="landingPageText">
        <p class="text1"> Make your life with room mates easy</p>
            <div class="landingPageTexttwo">
                <span class="material-icons">check</span><span class="text2"> Schedule tasks</span><br>
                <span class="material-icons">check</span><span class="text2"> Split house hold expenses</span><br>
                <span class="material-icons">check</span><span class="text2"> Keep it all in one place</span><br>
            </div>
        </div>
        <div class="landingPageButtonstwo">
            <button class="btnJoin" [routerLink]="['./login']" >Join</button>
            <button class="btnLearnmore">Learn more</button>
        </div>
        <div class="iAlreadyHaveAnAccount">
        <button class="iAlreadyHaveAnAccountButton">i already have an account</button>
        </div>
</div>
