<div class="registerPageHeader">
    <button class="btnLoginRegisterPage" routerLink="/login" >Login</button>
</div>
<div class="registerPageContent">
    <div class="registerPageText">
        <span>Register and start planning with your room mates today!</span>
    </div>
    <div class="registerPageInput">
        <form>
        <div class="registerPageEmail">
            <span class="material-icons">mail</span>
            <input type="text" class="inputEmailRegisterPage" placeholder="Email" ><br>
        </div>
        <div class="registerPagePassword">
            <span class="material-icons">lock</span>
            <input type="text" class="inputPasswordRegisterPage" placeholder="Password">
        </div>
        <div class="registerPageRepeatPassword">
            <input type="text" class="inputRepeatPasswordRegisterPage" placeholder="Repeat password" ><br>
        </div>
        <div class="registerPagePerson">
            <span class="material-icons">person</span>
            <input type="text" class="inputPersonRegisterPage" placeholder="Name">
        </div>
        </form>
    </div>
    <div class="checkBoxs">
        <div class="checkBoxFirst">
    <input type="checkBox" class="checkBoxOne"><label>Accept privacy polycy</label>
        </div>
        <div class="checkBoxSecond">
    <input type="checkbox" class="checkboxTwo"><label> Accept terms and conditions</label>
        </div>
    </div>
    <div class="loginPageRegisterButton">
        <button class="btnRegister" routerLink="/login">Register</button>
    </div>
    <div class="signUpWithGoogle">
        <button class="btnsignUpWithGoogle"><img src="src/assets/pic/btn_google_signin_light_normal_web@2x.png"></button>
    </div>
</div>
<div class="registerPageFooter">
    <span class="loginPageFooterText"> About us </span>
    <span class="loginPageFooterText"> Contact us </span>
    <span class="loginPageFooterText">Privacy policy </span>
    <span class="loginPageFooterText"> Terms of service </span>
    <span class="loginPageFooterText"> FEQ </span>
</div>
