
<div class="mainPage">
  <div class="header">
    <button class="headerButton">Task</button>
    <button class="headerButton">Task2</button>
    <button class="headerButton">Task3</button>
    <button class="headerButton">Task4</button>
    <button class="headerButton">Task5</button>
    <button class="headerButton">Task6</button>
    </div>
</div>
<div class="InfoBlockDisplay">
  <div class="mainStatisticDisplay">
   <div class="textArea">
   <span class="toDoText">To Do</span>
   <span class="shoppingLisText">Shopping List</span>
   <span class="spendingsText">Spendings</span>
   <span class="sharedListText">Shared Lists</span>
   </div>
    <div class="infoArea">
    <div class="infoBlock1"></div>
    <div class="infoBlock2"></div>
    <div class="infoBlock3"></div>
    <div class="infoBlock4"></div>
    </div>
    <div class="addTaskIcon">
    <div class="dot" >
    <span class="material-icons" md-24>add</span>
    </div>
    </div>
  
   
  </div>
</div>

  